/* COMMON */
body{
  background: url('../img/bg-mantel.jpg') repeat center;
}
.container{
  display: block;
  height: 100vh;
  left: 0;
  min-height: 800px;
  max-height: 1080px;
  overflow: hidden;
  position: relative;
  top:0;
  width: 100vw;
}
.box-img{
  display: block;
  max-width: 100%;
  width: 100%;
}
.box-img img{
  display: block;
  max-width: 100%;
  width: 100%;
}
b{
  font-weight: 700;
  text-transform: uppercase;
}
.btn{
  background: #1faf17;
  border-radius: 10px;
  color:#fff;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
  max-width: 220px;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  text-transform:capitalize;
}
.btn:hover{
  background:rgba(31, 175, 23, .85);
  transition: all ease-in 500ms;
}
/* end COMMON */

/* HOME SCREEN */
.start-box{
  display: block;
  position: fixed;
  top:0;
  left: 0;
  transform: scale(5);
  opacity: 0;
  transition: transform 1000ms ease-out, opacity 300ms ease-out;
  z-index: -1;
}
.start-box.active{
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}
.start-box-inner{
  background:rgba(255,255,255,.65);
  display: block;
  height: 100vh;
  margin: 0 auto;
  max-width: 768px;
  min-height: 800px;
  max-height: 1080px;
  position: relative;
  width: 100%;
}
.start-box .title{
  color: #1faf17;
  font-family: 'Lobster Two', cursive, Arial, sans-serif;
  font-size: 80px;
  font-weight: 400;
  left: 90px;
  position: absolute;
  text-align: center;
  top: 5vh;
  transform: rotate(-13deg);
  opacity: 0;
  animation: title 1000ms ease-out 1 forwards;
}
@keyframes title {
  0% { 
    top:5vh;
    opacity:0;
  }
  100% { 
    top: 10vh;
    opacity:1;
  }
}
.start-box .description{
  color: #1faf17;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  max-width: 280px;
  position: absolute;
  right: 93px;
  text-align: center;
  top: 16vh;
  transform: rotate(5deg);
  opacity: 0;
  animation: description 1000ms ease-out 500ms 1 forwards;
}
@keyframes description {
  0% { 
    top:16vh;
    opacity:0;
  }
  100% { 
    top: 21vh;
    opacity:1;
  }
}
.start-box .btn-start{
  display: block;
  left:50%;
  position: absolute;
  text-decoration: none;
  top: 43%;
  -webkit-transform: translate(-50%,0%) scale(.5);
  -moz-transform: translate(-50%,0%) scale(.5);
  -ms-transform: translate(-50%,0%) scale(.5);
  -o-transform: translate(-50%,0%) scale(.5);
  opacity: 0;
  animation: btnStart 1000ms ease-out 750ms 1 forwards;
}
@keyframes btnStart {
  0% { 
    opacity:0;
    -webkit-transform: translate(-50%,0%) scale(.5);
    -moz-transform: translate(-50%,0%) scale(.5);
    -ms-transform: translate(-50%,0%) scale(.5);
    -o-transform: translate(-50%,0%) scale(.5);
  }
  100% { 
    opacity:1;
    -webkit-transform: translate(-50%,0%) scale(1);
    -moz-transform: translate(-50%,0%) scale(1);
    -ms-transform: translate(-50%,0%) scale(1);
    -o-transform: translate(-50%,0%) scale(1);
  }
}
.start-box .btn-start span{
  background: #1faf17;
  border-radius: 8px;
  color:#fff;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: .9;
  padding: 18px;
  position: relative;
  z-index: 2;
}
.start-box .btn-start:before{
  content:'';
  background: url('../img/icon-pizza-a.svg') no-repeat center;
  background-size: contain;
  display: block;
  height: 220px;
  position: absolute;
  width: 220px;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.start-box .btn-start:after{
  content:'';
  background: url('../img/icon-pizza-b.svg') no-repeat center;
  display: block;
  height: 108px;
  left: 91%;
  position: absolute;
  top: -35%;
  width: 116px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 0;
}
.start-box .btn-start:hover:after{
  left: 105%;
  top: -70%;
}
.start-box .img-chef{
  bottom: -250px;
  left: 50px;
  max-width: 350px;
  position: absolute;
  opacity: 0;
  z-index: 2;
  animation: imgChef 500ms ease-out 1000ms 1 forwards;
}
@keyframes imgChef {
  0% { 
    opacity:0;
    bottom: -250px
  }
  100% { 
    opacity:1;
    bottom: -140px;
  }
}
.start-box .img-pizza{
  bottom: -150px;
  right: 90px;
  max-width: 350px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  animation: imgPizza 500ms ease-out 1000ms 1 forwards;
}
@keyframes imgPizza {
  0% { 
    opacity:0;
    bottom: -150px
  }
  100% { 
    opacity:1;
    bottom: -70px;
  }
}
.start-box .img-decoration{
  display: block;
  opacity: 0;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  animation: imgDecoration 1500ms ease-out 1000ms 1 forwards;
}
@keyframes imgDecoration {
  0% { 
    opacity:0;
  }
  100% { 
    opacity:1;
  }
}
.start-box .img-decoration-1{
  max-width: 50%;
  left: 141%;
  top: 80%;
}
.start-box .img-decoration-2{
  max-width: 50%;
  left: -40%;
  top: 20%;
}
.start-box .img-decoration-3{
  max-width: 50%;
  left: 140%;
  top: 30%;
}
.start-box .img-decoration-4{
  max-width: 50%;
  left: -40%;
  top: 90%;
}
/* end HOME SCREEN */

/* MESSAGE INSTRUCTIONS */
.instructions{
  align-items: center;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  opacity: 0;
  position: fixed;
  transform: scale(5);
  transition: transform 1000ms ease-out, opacity 300ms ease-out;
  z-index: -1;
}
.instructions.active{
  transform: scale(1);
  transition: transform 1000ms ease-out, opacity 300ms ease-out;
  opacity: 1;
  z-index: 5;
}
.instructions-box{
  background: #fff;
  border-radius: 10px;
  max-width: 900px;
  padding: 40px;
  width: 90%;
}
.instructions .title{
  color: #1faf17;
  font-family: 'Lobster Two', cursive, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.instructions .subtitle{
  display: block;
  cursor: pointer;
  margin: 10px 0 15px;
}
.instructions .subtitle span{
  display: inline-block;
  color: #1faf17;
  font-family: 'Lobster Two', cursive, Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}
.instructions .subtitle:after{
  background: url('../img/arrow.svg') no-repeat center;
  background-size: contain;
  content:'';
  transform: rotate(0deg);
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
  width: 16px;
}
.instructions .subtitle.active:after{
  transform: rotate(180deg);
}
.instructions-box > div{
  display: block;
  height:0;
  overflow: hidden;
}
.instructions-box > div.active{
  height:initial;
  transition:all ease-in 500ms;
}
.instructions-box > div p{
  font-family: Arial, sans-serif;
  color:#000;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
}
.instructions-box > div p b{
  text-transform: initial;
}
/* end MESSAGE INSTRUCTIONS */

/* GAME SCREEN */
.game-box{
  display: block;
  opacity: 0;
  background: rgba(255,255,255,.65);
}
.game-box.active{
  opacity: 1;
  transition: opacity ease-in 1000ms 
}
.game-box-inner{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  min-height: 800px;
  max-height: 1080px;
  position: relative;
}
.game-box .title{
  color: #1faf17;
  display: inline-block;
  font-family: 'Lobster Two', cursive, Arial, sans-serif;
  font-size: 56px;
  font-weight: 400;
  text-align: left;
  transform: rotate(-13deg);
}
.game-box .gaming-box{
  margin-bottom: 30px;
}
.game-box .box-clock-score{
    align-items: flex-start;
    display: flex;
    height: 140px;
    justify-content: flex-end;
    position: relative;
}
.game-box .box-clock-score .clock{
  align-items: center;
  background: #e6242c;
  border-radius: 50%;
  border: 10px solid #1faf17;
  color: #fcfcfc;
  display: flex;
  font-family: 'Lobster Two', cursive, Arial, sans-serif;
  font-size: 50px;
  height: 125px;
  justify-content: center;
  left:54%;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 125px;
  -webkit-transform: translate(-50%,0%);
  -moz-transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  -o-transform: translate(-50%,0%);
}
.game-box .box-clock-score .score {
  font-family: 'Lobster Two', cursive, Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  text-align: right;
}
.game-box .box-clock-score .score .sucess-box {
  color: #1faf17;
  font-size: 44px;
  left: 12px;
  position: relative;
}
.game-box .box-clock-score .score span {
  top: 6px;
}
.game-box .box-clock-score .score span#sucess {
  left: 10px;
  position: relative;
}
.game-box .box-clock-score .score span#marker {
  position: relative;
  left: -10px;
}
.game-box .box-clock-score .score .sucess-box span:last-child {
  display: block;
  font-size: 20px;
  left: -11px;
  margin: 2px 0 9px;
  position: relative;
}
.game-box .box-clock-score .mistakes-box {
  color: #e6242c;
  font-size: 20px;
}
.game-box .box-clock-score .score span#mistakes {
  color: #e6242c;
  font-size: 28px;
  left: 0px;
  position: relative;
  top: 1px;
}
.game-box .gaming-box-inner{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.gaming-box-inner .gaming-box-pizza{
  position: relative;
  max-width: 70%;
  width: 100%;
}
.gaming-box-inner .gaming-box-pizza .img-chef{
  left: 10px;
  max-width: 140px;
  position: absolute;
  top: 210px;
}
.gaming-box-inner .gaming-box-pizza .img-wood{
  max-width: 360px;
  margin: 0 auto 50px;
}
.gaming-box-inner .gaming-box-pizza canvas{
  background: #c1ca53;
  border-radius: 100%;
  height: 300px;
  left: 53.4%;
  position: absolute;
  top: 10px;
  width: 300px;
  -webkit-transform: translate(-50%,0%);
  -moz-transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  -o-transform: translate(-50%,0%);
  z-index: 2;
}
.gaming-box-inner .gaming-box-pizza .slider-ingredientes{
  border-radius: 5px;
  width: 100%;
}
.slider-ingredientes{
  background: #fff;
}
.slider-ingredientes .box-ingredient-item > a{
  text-decoration: none;
}
.slider-ingredientes .box-ingredient-item .title-box{
  align-items: center;
  color:rgba(0, 0, 0, 1);
  display: flex;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.2;
  margin: 0 0 10px;
  min-height: 50px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
}
.slider-ingredientes .box-ingredient-item > a .box-img{
  opacity: 1;
}
.slider-ingredientes .box-ingredient-item > a:hover .box-img{
  opacity: .6;
  transition: all 1000ms ease;
}
.slider-ingredientes .box-ingredient-item > a.active .box-img{
  opacity: .3;
  transition: all 1000ms ease;
}
.slider-ingredientes .box-ingredient-item > a:hover .title-box{
  color:rgba(0, 0, 0, .6);
  text-decoration: underline;
  transition: all 1000ms ease;
}
.slider-ingredientes .box-ingredient-item > a.active .title-box{
  color:rgba(0, 0, 0, .3);
  transition: all 1000ms ease;
}
.gaming-box-inner .swiper-button-next, 
.gaming-box-inner .swiper-button-prev{
  background: #fff;
  bottom: 205px;
  border-radius: 100%;
  color:#1faf17;
  height: 50px;
  left: 55%;
  top: initial;
  outline: none;
  text-decoration: none;
  width: 50px;
  z-index: 3;
}
.gaming-box-inner .swiper-button-next:after, 
.gaming-box-inner .swiper-button-prev:after{
  font-size: 27px;
  font-weight: 700;
}
.gaming-box-inner .swiper-button-next{
  left: 55%;
} 
.gaming-box-inner .swiper-button-prev{
  left:45%;
}
.gaming-box-inner .swiper-button-next.swiper-button-disabled, 
.gaming-box-inner .swiper-button-prev.swiper-button-disabled{
 color: rgba(31, 175, 23, .5);
 pointer-events: initial;
}
.gaming-box-inner .box-client{
  position: relative;
}
.gaming-box-inner .box-client .box-pista{
  background: #fcfcfc;
  border-radius: 50%;
  display: block;
  left: -130px;
  position: absolute;
  top: -125px;
  z-index:1;
}
.gaming-box-inner .box-client .box-pista:before{
  content:'';
  border-color: #fcfcfc transparent transparent transparent;
  border-style: solid;
  border-width: 90px 20px 0 20px;
  bottom: -45px;
  height: 0;
  position: absolute;
  right: 128px;
  transform: rotate(-30deg);
  width: 0;
  z-index:0;
}
.gaming-box-inner .box-client .box-pista p{
  color: #000;
  display: block;
  font-family: arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  padding: 40px 20px;
  position: relative;
  text-align: center;
  user-select: none; 
  width: 300px;
  z-index: 1;
}
.gaming-box-inner .box-client .img-client{
  user-select: none;
}
/* end GAME SCREEN */

/* MESSAGE SUCESS */
.sucess-message{
  align-items: center;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  opacity: 0;
  position: fixed;
  transform: scale(5);
  transition: transform 600ms ease-out, opacity 300ms ease-out;
  z-index: -1;
}
.sucess-message.active{
  transform: scale(1);
  opacity: 1;
  z-index: 5;
}
.sucess-message-inner{
  position: relative;
  max-width: 550px;
}
.sucess-message-inner:before{
  content:'';
  position: absolute;
  display: block;
  background: rgba(255,255,255,.65);
  width: 80%;
  height: 100%;
  left:50%;
  top:50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.sucess-message .img-sucess img{
  position: relative;
  left:50px;
}
.sucess-message a{
  position: relative;
  top: -80px;
}
/* end MESSAGE SUCESS */

/* MESSAGE SUCESS END */
.sucess-end-message{
  align-items: center;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  opacity: 0;
  position: fixed;
  transform: scale(5);
  transition: transform 600ms ease-out, opacity 300ms ease-out;
  z-index: -1;
}
.sucess-end-message.active{
  transform: scale(1);
  opacity: 1;
  z-index: 5;
}
.sucess-end-message-inner{
  position: relative;
  max-width: 550px;
}
.sucess-end-message-inner:before{
  content:'';
  position: absolute;
  display: block;
  background: rgba(255,255,255,.65);
  width: 80%;
  height: 100%;
  left:50%;
  top:50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.sucess-end-message .img-sucess-end img{
  position: relative;
  left:50px;
}
.sucess-end-message a{
 position: relative;
}
/* end MESSAGE SUCESS END */

/* MESSAGE GAME OVER */
.game-over-message{
  align-items: center;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  opacity: 0;
  position: fixed;
  transform: scale(5);
  transition: transform 600ms ease-out, opacity 300ms ease-out;
  z-index: -1;
}
.game-over-message.active{
  transform: scale(1);
  opacity: 1;
  z-index: 5;
}
.game-over-message-inner{
  position: relative;
  max-width: 550px;
}
.game-over-message-inner:before{
  background: rgba(255,255,255,.65);
  border-radius: 70px;
  content: '';
  display: block;
  height: 110%;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 110%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.game-over-message .img-game-over img{
  position: relative;
}
.game-over-message a{
 position: relative;
 top: 10px;
}
/* end MESSAGE GAME OVER */


/* MESSAGE MOBILE */
.mobile-message{
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.mobile-message p{
  background: rgba(255,255,255,.8);
  border-radius: 25px;
  box-shadow: 1px 1px 41px #000;
  color: #1faf17;
  font-family: 'Lobster Two', cursive, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  max-width: 450px;
  padding: 40px;
  text-align: center;
  width: 90%;
}
/* end MESSAGE MOBILE */

@media only screen and (max-width: 1200px) {

  /* HOME SCREEN */
  .start-box .img-decoration-1 {
    left: 115%;
  }
  .start-box .img-decoration-2 {
    max-width: 44%;
    left: -11%;
    top: 24%;
  }
  .start-box .img-decoration-3 {
    max-width: 44%;
    left: 112%;
    top: 25%;
  }
  .start-box .img-decoration-4 {
    max-width: 45%;
    left: -15%;
    top: 88%;
  }
  /* end HOME SCREEN */

}

@media only screen and (max-width: 960px) {

  /* GAME SCREEN */
  .game-box .gaming-box {
    margin-bottom: 15px;
  }
  .gaming-box-inner .gaming-box-pizza .img-chef {
    display: none;
  }
  .gaming-box-inner .gaming-box-pizza .img-wood {
    max-width: 360px;
    margin: 0 0 30px 15px;
  }
  .gaming-box-inner .gaming-box-pizza canvas {
    left: 66px;
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
  }
  .gaming-box-inner .gaming-box-pizza {
    max-width: 60%;
  }
  .game-box .box-clock-score .clock {
    left: 50%;
  }
  .game-box .box-clock-score {
    height: 160px;
  }
  .game-box .box-clock-score .score {
    margin-right: 12px;
  }
  .gaming-box-inner .swiper-button-next, 
  .gaming-box-inner .swiper-button-prev{
    bottom: 215px;
    height: 38px;
    width: 38px;
  }
  .gaming-box-inner .swiper-button-prev {
    left: 41%;
  }
  .gaming-box-inner .swiper-button-next {
    left: 52%;
  }
  .gaming-box-inner .swiper-button-next:after, 
  .gaming-box-inner .swiper-button-prev:after{
    font-size: 22px;
  }
  /* end GAME SCREEN */

}

@media only screen and (max-width: 860px) {

  /* GAME SCREEN */
  .gaming-box-inner .swiper-button-next, 
  .gaming-box-inner .swiper-button-prev{
    bottom: 206px;
  }
  /* end GAME SCREEN */

}

@media only screen and (max-width: 799px) {

  /* MESSAGE MOBILE */
  .container.start-box, 
  .container.game-box,
  .container.instructions,
  .container.sucess-message,
  .container.sucess-end-message,
  .container.game-over-message{
    display: none;
  }
  .mobile-message{
    display: flex;
    min-height: 800px;
  }
  /* end MESSAGE MOBILE */

}

@media only screen and (max-height: 799px) {

  /* MESSAGE MOBILE */
  .container.start-box, 
  .container.game-box,
  .container.instructions,
  .container.sucess-message,
  .container.sucess-end-message,
  .container.game-over-message{
    display: none;
  }
  .mobile-message{
    display: flex;
    min-height: initial;
  }
  /* end MESSAGE MOBILE */

}